body {
    margin: 0;
    padding: 0;
    background-image: url("../images/bg_mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 600;
    font-style: italic;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    color: white;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    color: white;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
    color: white;
}

.titre-section {
    margin-top: 2rem;
}

@media only screen and (min-width: 767px) {
    h1 {
        font-size: 3.5rem;
    }

    h4 {
        font-size: 2.7rem;
    }

    p {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 991px) {
    h1 {
        font-size: 4.2rem;
    }

    h4 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1199px) {
    body {
        background-image: url("../images/fixed_bg.png");
        background-position: top;
    }

    h1 {
        font-size: 5rem;
    }

    h4 {
        font-size: 3.2rem;
    }

    p {
        font-size: 1.7rem;
    }
}

/* =========================== STICKY NAVBAR =========================== */

/* .navbar {
    background: rgb(113, 126, 195);
    background: linear-gradient(180deg, rgba(113, 126, 195, 1) 0%, rgb(43, 51, 92) 100%);
} */

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    color: white;
}

/* =========================== SECTION METIERS =========================== */

#container-metier {
    height: 45rem;
}

#section-icones-metier {
    font-size: 6rem;
}

.icones-metiers {
    color: #E3B279;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 767px) {

    #section-icones-metier {
        font-size: 10rem;
    }
}

@media only screen and (min-width: 1199px) {
    #container-metier {
        height: 50rem;
    }

    #section-icones-metier {
        font-size: 10rem;
    }

    .section-metier h1 {
        margin-top: 0;
    }
}

@media (min-width: 2000px) {
    #container-metier {
        height: 92rem;
    }
}

/* =========================== SECTION EXPERIENCES =========================== */

#container-experiences {
    height: 45rem;
    background: #353535;
}

#carousel-experiences {
    margin-top: 3rem;
    width: 100%;
}


@media only screen and (min-width: 767px) {
    #carousel-experiences {
        width: 75%;
    }

    .carousel-caption h4 {
        font-size: 2rem;
    }

    .carousel-caption p {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 991px) {
    #carousel-experiences {
        width: 60%;
    }
}

@media only screen and (min-width: 1199px) {
    #container-experiences {
        height: 52rem;
    }

    #carousel-experiences {
        width: 50%;
    }

}

@media (min-width: 2000px) {
    #container-experiences {
        height: 95rem;
    }

    #carousel-experiences {
        width: 65%;
    }

    .carousel-caption h4 {
        font-size: 4rem;
    }

    .carousel-caption p {
        font-size: 2rem;
    }
}


/* =========================== SECTION COMPETENCES =========================== */

#container-competences {
    height: 45rem;
}

#container-competences p {
    font-size: 0.8rem;
}

.liste-competences {
    height: 30rem;
}

.img-competences {
    margin-bottom: 2vw;
    width: 8vw;
}

.icones-competences {
    margin-bottom: 2vw;
}

@media only screen and (min-width: 767px) {

    #container-competences p {
        font-size: 1.5vw;
    }

    .liste-competences {
        height: 30rem;
    }

    .img-competences {
        margin-bottom: 1.5vw;
        width: 6vw;
    }
}

@media only screen and (min-width: 991px) {
    #container-competences p {
        font-size: 1.2vw;
    }

    .img-competences {
        margin-bottom: 1vw;
        width: 4vw;
    }
}


@media only screen and (min-width: 1199px) {
    #container-competences {
        height: 52rem;
    }

    .liste-competences {
        height: 40rem;
    }

}

@media (min-width: 2000px) {
    #container-competences {
        height: 95rem;
    }

    .liste-competences {
        height: 80rem;
    }
}

/* =========================== SECTION EDUCATION =========================== */

#container-education {
    padding-top: 4vh;
    height: 45rem;
    background: rgb(119, 66, 26);
    background: linear-gradient(0deg, rgb(66, 38, 17) 0%, rgba(238, 132, 52, 1) 100%);
}

#section-formations {
    margin: 3rem 0;
}

.formations {
    height: 15vw;
    margin-bottom: 1rem;
}

.drapeaux {
    width: 10vw;
    margin-bottom: 0.5rem;
}

.niveau {
    font-size: 0.7rem;
}

#section-langues {
    margin-bottom: 4rem;
}


#embauche {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    color: white;
}

#pdf {
    margin-top: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    color: #0275d8;
}


.modal-content {
    background-color: rgba(0, 0, 0, 0);
}


.modal-content img {
    width: 100%;
}

@media only screen and (min-width: 767px) {
    #container-education {
        height: 58rem;
    }

    .formations {
        height: 20vw;
    }

    #embauche {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 991px) {
    #container-education {
        height: 65rem;
    }

    .niveau {
        font-size: 1.2rem;
    }

    #embauche {
        font-size: 1.7rem;
    }
}

@media only screen and (min-width: 1199px) {
    #container-education {
        height: 75rem;
    }

    .drapeaux {
        width: 5vw;
    }

    .titres {
        font-size: 3rem;
    }


    #embauche {
        font-size: 2rem;
    }

    #pdf {
        font-size: 1rem;
    }
}

@media (min-width: 2000px) {
    #container-education {
        height: 90rem;
    }

    .formations {
        height: 14vw;
        margin-bottom: 3rem;
    }

    #section-langues {
        margin-top: 7rem;
    }

    .drapeaux {
        width: 4vw;
    }

    .niveau {
        font-size: 1.5rem;
    }

    #embauche {
        margin-top: 5rem;
        font-size: 3.5rem;
    }

    #pdf {
        font-size: 1.5rem;
    }
}