body {
    margin: 0;
    padding: 0;
    background-image: url(/images/fixed_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    font-weight: 600;
    font-style: italic;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    color: white;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    font-weight: 600;
    font-style: italic;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    color: white;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3vw;
    font-weight: 600;
    font-style: italic;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    color: white;
}

/* =========================== SECTION METIERS =========================== */

#container-metier {
    height: 55vw;
}

#section-icones-metier {
    display: flex;
    flex-direction: column;
    font-size: 7vw;
}

.icones-metiers {
    color: rgb(62, 176, 221);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* =========================== SECTION EXPERIENCES =========================== */

#container-experiences {
    height: 60vw;
    background: #353535;
    margin-top: 6vw;
}

#carousel-experiences {
    width: 28vw;
    margin-top: 2vw;
}

/* =========================== SECTION COMPETENCES =========================== */

#container-competences {
    margin-top: 5vw;
}

#competences {
    width: 70vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.icones-competences {
    margin: 2vw 3vw;
}

.img-competences {
    margin-bottom: 2vw;
    width: 10vw;
}

/* =========================== SECTION EDUCATION =========================== */

#container-education {
    padding-top: 7vw;
    height: 75vw;
    background: rgb(119, 66, 26);
    background: linear-gradient(0deg, rgba(119, 66, 26, 1) 0%, rgba(238, 132, 52, 1) 100%);
}

#section-formations{
    margin: 5vw 0;
}

.formations{
    margin-bottom: 1vw;
}